{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="card shadow p-4 text-center" 
         style="width: 420px; border-radius: 15px;">

        <h3 class="mb-4">Ingresa tus datos</h3>

        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form action="/signup/" method="post">
            {% csrf_token %}

            <div class="mb-3 text-start">
                <label class="form-label">Usuario</label>
                {{ form.username }}
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Correo</label>
                {{ form.email }}
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Contraseña</label>
                {{ form.password1 }}
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Repetir contraseña</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-violeta w-100 mt-2">
                Registrarse
            </button>
        </form>
    </div>
</div>

{% endblock %}
