{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center mt-5">
    <div class="card shadow p-4 text-center" 
         style="width: 420px; border-radius: 15px;">

        <h3 class="mb-4">Iniciar sesión</h3>

        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form action="/signin/" method="post">
            {% csrf_token %}

            <div class="mb-3 text-start">
                <label class="form-label">Usuario</label>
                {{ form.username }}
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Contraseña</label>
                {{ form.password }}
            </div>

            <button class="btn btn-violeta w-100 mt-2" type="submit">
                Iniciar sesión
            </button>
        </form>
    </div>
</div>

{% endblock %}
